name: Scan with Detekt

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '33 23 * * 1'
  workflow_dispatch:

env:
  DETEKT_RELEASE_TAG: v1.15.0

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Get Detekt download URL
      id: detekt_info
      run: |
        gh_response=$(gh api graphql --raw-field query='
          query getReleaseAssetDownloadUrl($tagName: String!) {
            repository(name: "detekt", owner: "detekt") {
              release(tagName: $tagName) {
                releaseAssets(name: "detekt", first: 1) {
                  nodes {
                    downloadUrl
                  }
                }
              }
            }
          }' --var tagName=$DETEKT_RELEASE_TAG)
        DETEKT_DOWNLOAD_URL=$(echo "$gh_response" | jq --raw-output '.data.repository.release.releaseAssets.nodes[0].downloadUrl')
        echo "download_url=$DETEKT_DOWNLOAD_URL" >> $GITHUB_ENV

    - name: Setup Detekt
      run: |
        dest=$(mktemp -d)
        curl --request GET \
          --url $DETEKT_DOWNLOAD_URL \
          --silent \
          --location \
          --output $dest/detekt
        chmod a+x $dest/detekt
        echo $dest >> $GITHUB_PATH

    - name: Run Detekt
      continue-on-error: true
      run: detekt --input ${{ github.workspace }} --report sarif > ${{ github.workspace }}/detekt.sarif.json

    - name: Make artifact location URIs relative
      continue-on-error: true
      run: |
        jq \
          --arg github_workspace ${{ github.workspace }} \
          '. | ( .runs[].results[].locations[].physicalLocation.artifactLocation.uri |= if test($github_workspace) then .[($github_workspace | length + 1):] else . end )' \
          ${{ github.workspace }}/detekt.sarif.json > ${{ github.workspace }}/detekt.sarif.json.tmp
        mv ${{ github.workspace }}/detekt.sarif.json.tmp ${{ github.workspace }}/detekt.sarif.json

    - uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: ${{ github.workspace }}/detekt.sarif.json
        checkout_path: ${{ github.workspace }}
